.navbar-bg{
    background-color: rgba(56, 132, 247, 0.16);
}
.reset-stye{
    color: #3884F7;
}
.left-shadow{
    border: 1px solid #F6F6F6;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}
.div-1{
    border-bottom: 1px solid #F5F5F5;
}

.price-styles{
    color: #4C4C4C;
}
.div-2{
    border-bottom: 1px solid #E0E0E1;
}

.div-3{
    border-top: 1px solid #E0E0E1;
}

.div-4{
  border: 1 px solid red;
}

.div-5{
  background-color: #C4C4C4;
  margin-top: 5px;
}

.bg-style{
    background-color:  #3884F7;
}

.person-1{
    font-size: 10px;
}

.person-2{
    color: #235FD8;
}

.person-3{
    color: #1882FF;
}

.person-4{
    color: #1882FF;
}

.person-6{
    color: #8E8E93;
}

.person-7{
    color: #4C4C4C;
}

.person-11{
    color: #3884F7;
}

.right-shadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.person-14{
    color: #4C4C4C;
    left:30px;
    
}

.name-bg-style{
    background-color: #BBDDFF;
    
}

.person-15{
    color: #4C4C4C;
}


.person-18{
    color: #4C4C4C;
}

.person-19{
    color: #EF7E46;

}

.custom-grid-css{
    grid-template-columns: repeat(5, 1fr);
}

.person-20{
    color: #4C4C4C;
}

.styling{
    position: relative;
    left: 100px
}

@media only screen and (max-width: 1024px) {
    .custom-grid-css{
        display: grid;
        grid-row-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }

    .styling{
        position: relative;
        left: 0px
    }
}

