.left-panel-filter{
    box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 297px;
    height: 819px;
    left: 324px;
    top: 110px;

    background: #FFFFFF;
    border: 1px solid #F6F6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    }

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 297px;
    height: 77px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0
}
.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;

    width: 297px;
    height: 60px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.sort-filter{
    width: 201px;
    height: 20px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    /* identical to box height, or 20px */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}
.reset{
    width: 64px;
    height: 28px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    /* identical to box height, or 28px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #3884F7;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.divider{
    width: 297px;
    height: 1px;

    background: #F5F5F5;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 297px;
    height: 190px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.price-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;

    width: 297px;
    height: 173px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.price-content-text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px;
    
    width: 265px;
    height: 40px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.price-content-divider{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 16px;

width: 265px;
height: 17px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.price-content-price{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 8px;

    width: 265px;
    height: 50px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}
.price-content-selection-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;

    width: 265px;
    height: 34px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;

}

.price-devider{
    width: 297px;
    height: 1px;

    background: #F5F5F5;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
